<%- include('./partials/head.ejs') %> 

<%- include('./partials/flash.ejs') %>
<h1 class="login-head">Login</h1>
<div class="login-container">

<form method="post" action="/login">
  <label for="username">Username</label>
  <input type="text" name="username" id="username" required />

  <label for="password">Password</label>
  <input type="password" name="password" id="password" required />

  <input type="submit" value="Login" />
</form>

<% if (messages.success) { %>
    <% for (let msg of messages.success) { %>
        <p><%= msg %> </p>
    <% }} %>
</div>
<%- include('./partials/foot.ejs') %>