* {
    box-sizing: border-box;
}
html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.logout {
    border: none;
    background: none;
    color: white
}

.price {
    margin: 1rem 0 1rem 0;
    font-family: 'Russo One', sans-serif;
}

.anchor {
    font-family: 'Russo One', sans-serif;
    font-size: 1.3rem;
    margin: 0.8rem 0 0.8rem 0;
    color: black;
    text-decoration: none;
    text-align: center;
}

.anchor:hover {
    opacity: 0.5;
}

h3 {
    font-family: 'Russo One', sans-serif;
}

h5 {
    font-family: 'Russo One', sans-serif;
}

/* index pages */

.index-headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}

.index-title {
    font-size: 1.5rem;
    margin: 2rem;
}

.index-user ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

}

.index-user li {
    list-style: none;
    padding: 2px;
}

.index-user li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.index-user li:hover {
    background-color: #555;
}

.index-products {
    text-decoration: none;
}

.carousel-item {
    height: 50rem;
    width: 20rem;
    position: relative;
}

.carousel-item img {
    height: 50rem;
}

.products-container {
    background-color: tomato;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.index-items {
    display: flex;
    width: 150px;
    flex-direction: column;
    align-items: center;
    margin: 4rem 7rem; 
}

.index-img {
    min-width: 150px;
    max-width: 300px;
    object-fit: cover;
    box-shadow: 10px 5px 5px red;
    border-radius: 10px;
}

.index-items h3 {
    margin-bottom: 2rem;
}




/* Collection PAGE */


.collection-container {
    background-color: tomato;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
}

.collection-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin: 4rem 7rem; 
}

.collection-head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coll-head {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.coll-img {
    min-width: 150px;
    max-width: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 10px 5px 5px red;
}

.collection-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#remove-item {
    margin: 1rem;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    padding: 12px 24px;
    border: 0;
    color: #000021;
    background: #35a1dc;
    line-height: 1.15;
    font-size: 16px;
}


#remove-item:hover {
    transition: all .1s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px #35a1dc;
}

/* watching page */


.watching-container {
    background-color: tomato;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    height: 100%;
    align-items: flex-start;
}

.watching-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    margin: 2rem 4rem; 
}

.watching-head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.watch-img {
    min-width: 75px;
    max-width: 150px;
    margin-bottom: 2rem;
    box-shadow: 10px 5px 5px red;
    border-radius: 10px;
}

.watching-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.watching-head h5 {
    margin: 0 0 1.5rem 0;
    text-align: center;
}




/* Create Container */

.create-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px;
}

.input {
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow:0 0 4px rgba(0,0,0,0.3);
    transition: .3s box-shadow;
  }
  .input:hover {
    box-shadow:0 0 4px rgba(0,0,0,0.5);
  }

#name {
    margin: 1rem;
}  

#title {
    margin: 1rem;
}

#price {
    margin: 1rem;
}

#style {
    margin: 1rem;
}

#stock {
    margin: 1rem;
}

#brand {
    margin: 1rem;
}

#era {
    margin: 1rem;
}

#description {
    margin: 1rem;
    width: 30%;
}

#image {
    margin: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

#submit-btn {
    margin: 1rem;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    padding: 12px 24px;
    border: 0;
    color: #000021;
    background: #1de9b6;
    line-height: 1.15;
    font-size: 16px;
}


#submit-btn:hover {
    transition: all .1s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
}



/* EDIT Page */

.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px;
    width: 40rem;
}

.image-div {
    margin-right: 5rem;
    margin-top: 5rem;
}

#edit-img {
    /* position: absolute; */
    max-width: 100%;
    top: 10px;
    right: 10px;
}

#edit-btn {
    margin: 1rem;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    padding: 12px 24px;
    border: 0;
    color: #000021;
    background: #e96b1d;
    line-height: 1.15;
    font-size: 16px;
}


#edit-btn:hover {
    transition: all .1s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px #e9bd1d;
}
.edit-container {
    display: flex;
    justify-content: space-between;
}

.edit-container h3 {
   flex-direction: column;
    margin: 1rem 1rem 3rem 1rem;
}


/* login */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
}


/* Register Page */

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
}


.show-products {
    display: flex;
    
}

.show-details {
    display: flex;
    flex-direction: column;
    margin: 3rem 0rem 0rem 10rem
}

.show-img {
    margin: 3rem;
}

/* Watch Page */

#watch-btn {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    padding: 12px 24px;
    border: 0;
    color: #000021;
    background: #edbf41;
    line-height: 1.15;
    font-size: 16px;
}


#watch-btn:hover {
    transition: all .1s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px #e9bd1d;
}

#watch-buy {
    margin: 0rem 0 1rem 0;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    padding: 12px 24px;
    border: 0;
    color: #000021;
    background: #edbf41;
    line-height: 1.15;
    font-size: 16px;
}


#watch-buy:hover {
    transition: all .1s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px #e9bd1d;
}
.OOS {
    margin: 0 0 1rem 0;
    color: red;
}


/* home login/register */

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-login {
    margin: 10rem;
    font-size: 3rem;
}

.home-register {
    margin: 10rem;
    font-size: 3rem;
}

.home-head {
    font-size: 6rem;
    text-align: center;
    margin: 1rem 0 0 0;
}

/* Login / Register */

.login-container {
    display: flex;
    flex-direction: column;
}

.login-head {
    text-align: center;
    margin: 2rem 0 4rem 0;
}

.register-head {
    text-align: center;
    margin: 2rem 0 4rem 0;
}


@media screen and (max-width: 950px) {
    

    .index-headers {
        display: flex;
        flex-direction: column;
        align-items: center;
    }



}